<nav 
	id="mainNavbar" 
	class="navbar navbar-dark navbar-expand-xl fixed-top"
	aria-label="site"
>
	<!-- skip-link -->
	<a class="sr-only text-light" href="#main">
		Skip to main
	</a>
	<!-- skip-link -->

	<div class="container">
		<!-- logo -->
		<a class="navbar-brand" href="/">
			<img 
				src="/images/logo-&-Icon.png"
				class="navbar__logo"
				alt="DM-DMZ Guesthouse Logo" 
				title="Auto Territory"
				loading="eager"
				width="200"
				height="60"
			/>
			<span class="sr-only"><%= typeof page !== 'undefined' && page === 'home' ? '(current)' : '' %></span>
		</a>
		<!-- logo -->

		<!-- navbar toggler -->
		<button class="navbar-toggler" type="button" data-toggle="offcanvas">
			<span class="navbar-toggler-icon"></span>
			<span class="sr-only">navbar toggler</span>
		</button>
		<!-- navbar toggler -->

		<!-- main navbar -->
		<div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<!-- home link -->
				<li class="nav-item">
					<a 
						class="nav-link nav__link text-light <%= typeof page !== 'undefined' && page === 'home' ? 'navbar-active' : '' %>" 
						href="/"
					>
						Home
						<span class="sr-only">
							<%= typeof page !== 'undefined' && page === 'home' ? '(current)' : '' %>
						</span>
					</a>
				</li>
				<!-- home link -->

				<!-- our packages link -->
				<li class="nav-item">
					<a 
						class="nav-link nav__link text-light <%= typeof page !== 'undefined' && page === 'all-packages' ? 'navbar-active' : '' %>"
						href="/packages"
					>
						Packages
						<span class="sr-only">
							<%= typeof page !== 'undefined' && page === 'all-packages' ? '(current)' : '' %>
						</span>
					</a>
				</li>
				<!-- our packages link -->

				<!-- gallery link -->
				<li class="nav-item">
					<a 
						class="nav-link nav__link text-light <%= typeof page !== 'undefined' && page === 'gallery' ? 'navbar-active' : '' %>"
						href="/gallery"
					>
						Gallery
						<span class="sr-only">
							<%= typeof page !== 'undefined' && page === 'gallery' ? '(current)' : '' %>
						</span>
					</a>
				</li>
				<!-- gallery link -->

				<!-- about us link -->
				<li class="nav-item">
					<a 
						class="nav-link nav__link text-light <%= typeof page !== 'undefined' && page === 'about' ? 'navbar-active' : '' %>"
						href="/about-us"
					>
						About Us
						<span class="sr-only">
							<%= typeof page !== 'undefined' && page === 'about' ? '(current)' : '' %>
						</span>
					</a>
				</li>
				<!-- about us link -->
				
				<!-- contact us link -->
				<li class="nav-item">
					<a 
						class="nav-link nav__link text-light <%= typeof page !== 'undefined' && page === 'contact' ? 'navbar-active' : '' %>" 
						href="/contact-us"
					>
						Contact Us
						<span class="sr-only">
							<%= typeof page !== 'undefined' && page === 'contact' ? '(current)' : '' %>
						</span>
					</a>
				</li>
			</ul>
			
			<!-- package dealer admin button -->
			<% if(!currentUser) { %>
				<a 
					class="btn btn__primary navbar__btn" 
					href="/booking" 
					role="button"
				>
					Book Now &raquo;
					<span class="sr-only">
						<%= typeof page !== 'undefined' && page === 'booking' ? '(current)' : '' %>
					</span>
				</a>
			<% } else { %>
				<div class="btn-group navbar__btn">
					<button class="btn btn__primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<svg class="blog__icon" focusable="false" role="img" aria-label="Placeholder: user">
							<use xlink:href="/images/symbol-defs.svg#icon-user-circle-o"></use>
						</svg>
						<span class=""><%= currentUser.username %></span>
					</button>
					<div class="dropdown-menu dropdown-menu-xl-right">
						<!-- add package link -->
						<a 
							class="dropdown-item <%= typeof page !== 'undefined' && page === 'new-package' ? 'navbar-active' : '' %>" 
							href="/packages/add-a-package"
						>
							<svg class="dropdown-icon" focusable="false" role="img" aria-label="Placeholder: plus">
								<use xlink:href="/images/symbol-defs.svg#icon-plus"></use>
							</svg>
							<span>Add A Package</span>
						</a>
						<!-- add package link -->
						
						<div class="dropdown-divider"></div>

						<!-- dashboard link -->
						<a 
							class="dropdown-item <%= typeof page !== 'undefined' && page === 'profile' ? 'navbar-active' : '' %>" 
							href="/admin/profile"
						>
							<svg class="dropdown-icon" focusable="false" role="img" aria-label="Placeholder: dashboard">
								<use xlink:href="/images/symbol-defs.svg#icon-dashboard"></use>
							</svg>
							<span>Dashboard</span>
						</a>
						<!-- dashboard link -->

						<div class="dropdown-divider"></div>

						<!-- sign-out link -->
						<a class="dropdown-item" href="/admin/sign-out">
							<svg class="dropdown-icon" focusable="false" role="img" aria-label="Placeholder: sign-out">
								<use xlink:href="/images/symbol-defs.svg#icon-sign-out"></use>
							</svg>
							<span>Sign Out</span>
						</a>
						<!-- sign-out link -->
					</div>
				</div>
			<% } %>
		</div>
	</div>
</nav>
<!-- main navbar -->