<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active">Car Dealerships</span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- page header component -->
			<header class="page-header">
				<div class="page-header__text-box">
					<h1 class="display-4 page-header__heading">Car Dealerships In South Africa</h1>
				</div>
			</header>
			<!-- page header component -->

			<!-- cars dealerships section -->
			<div class="row">
				<div class="col-md-4">
					<aside id="search-filter-dealers">
						<% include ../partials/dealers/searchFilterDealers %>
					</aside>
				</div><!-- /.col-md-4 -->

				<div class="col-md-8">
					<section id="dealers" class="dealers">
						<div class="row mb-xsmall">
							<% if (query) { %> 
								<div class="col-9">
									<%- query.province ? `<span class="cars__filters">${query.province}</span>`: '' %>
								</div>
							<% } %> 
							<div class="col-3">
								<p class="cars__results"><span class="badge badge-warning"><strong>Results:</strong> <%= users.total %></span></p>
							</div>
						</div>	

						<% users.docs.forEach(function(user){ %>
							<div class="card dealers__card mb-small">
								<div class="row no-gutters">
									<div class="col-4">
										<img 
											src="<%= user.image.secure_url %>" 
											class="card-img rounded-0 dealers__card--img" 
											alt="<%= user.name %>"
											title="<%= user.name %> logo"
											loading="eager"
											width="230"
											height="140"
										/>
									</div>
									<div class="col-8">
										<div class="card-body">
											<h2 class="card-title cars__card--title dealers__title"><%= user.name %></h2>
											<div class="card-text cars__card--text text-muted mb-xsmall">
												<svg class="cars__card--icon" focusable="false" role="img" aria-label="Placeholder: local_gas_station">
													<use xlink:href="/images/symbol-defs.svg#icon-map-marker"></use>
												</svg>
												<span class="cars__card--location small__text"><span class="d-none d-lg-inline-block"><%= user.addressLineOne %>,</span> <%= user.city %> (<%= user.province %>)</span>
											</div>
											<div><a class="btn cars__card--btn" href="/car-dealerships/<%= user.slug %>?dealershipCars=<%= user._id %>&allCars=%7B%7D&sortBy=price&search=&price%5Bmin%5D=&price%5Bmax%5D=&year=&mileage%5BminMileage%5D=&mileage%5BmaxMileage%5D=">View Dealer &raquo;</a></div>
										</div>
									</div>
								</div>
							</div>
						<% }); %>
						<% include ../partials/dealers/paginateDealers %>
					</section>
				</div><!-- /.col-md-8 -->
			</div><!-- /.row -->
		</main><!-- MAIN SECTION END -->
	</div><!-- /.container -->
</div><!-- /.page-wrapper -->
