<% layout('layouts/boilerplate') -%>
<!-- page breadcrumb -->
<nav aria-label="breadcrumb" class="breadcrumb__nav">
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/">Home</a></li>
			<li class="breadcrumb-item"><a a class="breadcrumb__link" href="/car-dealerships">Car Dealerships</a></li>
			<li class="breadcrumb-item" aria-current="page"><span class="breadcrumb__active"><%= user.name %></span></li>
		</ol>
	</div>
</nav>
<!-- page breadcrumb -->

<div class="page-wrapper">
	<div class="container">
		<!-- MAIN SECTION START -->
		<main
			id="main"
			class="main"
			tabindex="-1"
			role="main"
		>
			<!-- back button -->
			<form class="mb-small">
				<input 
					class="btn btn__tertiary"
					type="button" 
					value="&laquo; Go back" 
					onclick="history.back()"
				/>
			</form>
			<!-- back button -->

			<!-- page header component -->
			<header class="page-header">
				<div class="row">
					<div class="col-md-6">
						<h1 class="display-4 page-header__heading dealer__heading"><%= user.name %></h1>
					</div>
					<div class="col-md-6">
						<h2><%= user.city %>, <%= user.province %></h2>
					</div>
				</div>
			</header>
			<!-- page header component -->

			<!-- dealer contact component -->
			<section id="dealer" class="dealer mb-medium">
				<!-- dealer contacts -->
				<div class="row mb-medium">
					<div class="col-md-5 col-lg-4 dealer__contact">
						<div class="dealer__image">
							<img 
							src="<%= user.image.secure_url %>" 
							class="dealer__img mb-small img-thumbnail" 
							alt="<%= user.name %>"
							title="<%= user.name %> logo"
							loading="eager"
							width="230"
							height="140"
						/>
						</div>
						
						<div class="dealer__contact-section">
							<div class="dealer__contact--container">
								<svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: phone">
									<use xlink:href="/images/symbol-defs.svg#icon-phone"></use>
								</svg>
								<a class="dealer__contact--link" href="tel:+27<%= user.contactNr %>">+27 <%= user.contactNr %></a>
							</div>
							<div class="dealer__contact--container">
								<svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: email">
									<use xlink:href="/images/symbol-defs.svg#icon-envelope"></use>
								</svg>
								<a class="dealer__contact--link" href="mailto:<%= user.email %>"><%= user.email %></a>
							</div>
							<address>
								<div class="dealer__contact--container">
									<svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: map-marker">
										<use xlink:href="/images/symbol-defs.svg#icon-map-marker"></use>
									</svg>
									<span class="dealer__contact--text ml-0"><%= user.addressLineOne %></span>
								</div>
								<% if (user.addressLineTwo) { %>
									<span class="dealer__contact--text"><%= user.addressLineTwo %></span> <br />
								<% } %> 
								<span class="dealer__contact--text"><%= user.city %></span> <br />
								<span class="dealer__contact--text"><%= user.zipCode %></span> <br />
								<span class="dealer__contact--text"><%= user.province %></span>
							</address>
							<% if (user.website) { %> 
							<div class="dealer__contact--container">
								<svg class="dealer__contact--icon" focusable="false" role="img" aria-label="Placeholder: phone">
									<use xlink:href="/images/website-ico.svg#icon-earth"></use>
								</svg>
								<a class="dealer__contact--link" href="<%= user.website %>"><%= user.website %></a>
							</div>
							<% } %> 
						</div>
					</div>
					<!-- dealer contacts -->

					<!-- dealer map -->
					<div class="col-md-7 col-lg-8">
						<iframe 
							class="dealer__map"
							src="<%= user.location %>" 
							allowfullscreen="" 
							loading="eager">
						</iframe>
					</div>
					<!-- dealer map -->
				</div><!-- /.row -->

				<!-- dealer details component -->
				<div class="dealer__about">
					<h2 class="car__h2 mb-small">About Us</h2>
					<%- user.about %>
				</div><!-- /.row -->
				<!-- dealer details component -->
			</section>
			<!-- dealer contact component -->

			<!-- dealer cars component -->
			<section id="dealer-cars">
				<h2 class="car__h2 mb-small"><%= user.name %> Cars:</h2>
				<!-- cars for sale section -->
				<div class="row">
					<div class="col-lg-3">
						<aside id="search-filter-cars">
							<% include ../partials/cars/searchFilter %>
						</aside>
					</div><!-- /.col-lg-3 -->

					<div class="col-lg-9">
						<section id="cars" class="cars">
							<div class="row">
								<% if (query) { %> 
									<div class="col-9">
										<%- query.province ? `<span class="cars__filters">${query.province}</span>`: '' %>
										<%- query.brand ? `<span class="cars__filters">${query.brand}</span>`: '' %>
										<%- query.carState ? `<span class="cars__filters">${query.carState}</span>`: '' %>
										<%- query.bodyType ? `<span class="cars__filters">${query.bodyType}</span>`: '' %>
										<%- query.year ? `<span class="cars__filters">${query.year}</span>`: '' %>
										<%- query.transmission ? `<span class="cars__filters">${query.transmission}</span>`: '' %>
										<%- query.fuelType ? `<span class="cars__filters">${query.fuelType}</span>`: '' %>
									</div>
								<% } %> 
								<div class="col-3">
									<p class="cars__results"><span class="badge badge-warning cars__results"><strong>Results:</strong> <%= cars.total %></span></p>
								</div>
							</div>	
							
							<hr class="mb-small" />

							<div class="row">
								<% cars.docs.forEach(function(car){ %>
									<div class="col-md-6 col-lg-12">
										<div class="card cars__card border-0 border-bottom">
											<div class="row no-gutters">
												<div class="col-lg-4">
													<img 
														src="<%= car.images[0].url %>" 
														class="card-img rounded-0 cars__card--img" 
														alt="<%= car.brand %> <%= car.name %>"
														title="<%= car.brand %> <%= car.name %>'s image"
														loading="lazy"
														width="1200"
														height="800"
													/>
												</div>
												<div class="col-lg-8">
													<div class="card-body cars__card--body">
														<!-- car card title & price -->
														<div class="row">
															<div class="col-lg-8">
																<h2 class="card-title cars__card--title"><%= car.brand %> <%= car.name %></h2>
															</div>
															<div class="col-lg-4 cars__card--price-container">
																<h3 class="cars__card--price">R <%= car.price.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ') %></h3>
															</div>
														</div>
														<!-- car card title & price -->

														<!-- car card overview specs -->
														<div class="row">
															<div class="col-6 col-lg-12">
																<div class="card-text cars__card--text text-muted">
																	<svg class="cars__card--icon" focusable="false" role="img" aria-label="Placeholder: calendar">
																		<use xlink:href="/images/symbol-defs.svg#icon-calendar-o"></use>
																	</svg>
																	<span><%= car.year %></span>
																</div>
															</div>
															<div class="col-6 col-lg-12">
																<div class="card-text cars__card--text text-muted">
																	<svg class="cars__card--icon" focusable="false" role="img" aria-label="Placeholder: meter" title="Mileage">
																		<use xlink:href="/images/symbol-defs.svg#icon-meter"></use>
																	</svg>
																	<span><%= car.mileage %> km</span>
																</div>
															</div>
															<div class="col-6 col-lg-12">
																<div class="card-text cars__card--text text-muted">
																	<img 
																		src="/images/transmission.svg" 
																		class="cars__card--icon" 
																		alt="transmission"
																		title="transmission icon"
																		loading="lazy"
																		width="32"
																		height="32"
																	/>
																	<span><%= car.transmission %></span>
																</div>
															</div>
															<div class="col-6 col-lg-12">
																<div class="card-text cars__card--text text-muted">
																	<svg class="cars__card--icon" focusable="false" role="img" aria-label="Placeholder: local_gas_station">
																		<use xlink:href="/images/symbol-defs.svg#icon-local_gas_station"></use>
																	</svg>
																	<span><%= car.fuelType %></span>
																</div>
															</div>
														</div>
														<!-- car card overview specs -->

														<!-- car card location & button -->
														<div class="row">
															<div class="col-lg-8">
																<div class="card-text cars__card--text text-muted">
																	<svg class="cars__card--icon" focusable="false" role="img" aria-label="Placeholder: local_gas_station">
																		<use xlink:href="/images/symbol-defs.svg#icon-map-marker"></use>
																	</svg>
																	<span class="cars__card--location small__text"><%= car.city %> (<%= car.author.name %>)</span>
																</div>
															</div>
															<div class="col-lg-4 cars__card--btn-container">
																<a class="btn cars__card--btn stretched-link" href="/cars-for-sale/<%= car.slug %>">View Car &raquo;</a>
															</div>
														</div>
														<!-- car card location & button -->
													</div>
												</div>
											</div>
										</div><!-- car card -->
										<hr class="cars__card--hr" />
									</div>
								<% }); %>
							</div>
							<% include ../partials/cars/paginateCars %>
						</section>
					</div><!-- /.col-md-9 -->
				</div><!-- /.row -->
				<!-- cars for sale section -->
			</section>
			<!-- dealer cars component -->
		</main><!-- MAIN SECTION END -->
	</div><!-- /.container -->
</div><!-- /.page-wrapper -->
